.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.image-text {
  height: 180px;
  width: 180px;
}
.failure-text {
  font-family: 'Roboto';
  font-size: 32px;
  color: #475569;
}
.failure-description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #64748b;
}
.retry-button {
  border: none;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #4656a1;
  height: 30px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #ffffff;
  outline: none;
}
.course-item-container {
  background-color: #ffffff;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-img {
  height: 300px;
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.name-des-con {
  padding: 20px;
  background-color: #e8e8e8;
  height: 300px;
  width: 450px;
}

.heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #1e293b;
}
.paragraph {
  font-family: 'Roboto';
  font-size: 13px;
  color: #475569;
}
