.bg-container {
  background-color: #ffffff;
  height: 90vh;
  width: 100%;
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
}
.courses-heading {
  font-family: 'Roboto';
  font-size: 35px;
  color: #1e293b;
}
.list-of-courses {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.image-text {
  height: 180px;
  width: 180px;
}
.failure-text {
  font-family: 'Roboto';
  font-size: 32px;
  color: #475569;
}
.failure-description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #64748b;
}
.retry-button {
  border: none;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #4656a1;
  height: 30px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #ffffff;
  outline: none;
}
